{
  "port": prompt('port',8009),

  "default_receiver_timeout": prompt('default_receiver_timeout','60000'),
  "default_receiver_port": prompt('default_receiver_port',80),
  "default_receiver_concurrency": prompt('default_receiver_concurrency',5),

  "trusted_ips": [
    '127.0.0.1'
  ],

  "db": {
    "test": {
      "adapter": "mongo", // mongo or mysql
      "database": "shortline_test",
      "hosts": [
        {
          "host": "localhost"
        }
      ]
    },

// uncomment one of the following examples

// Mongo example    

    "production": {
      "adapter": "mongo",
      "database": "shortline_production",
      "hosts": [ // one or more if sharded...
        {
          "host": "localhost",
          "port": 27017, // optional
        }
      ]
    }

/*  MySQL example

    production: {
      "adapter": "mysql",
      "host": "localhost",
      "user": "user",
      "password": "password",
      "database": "shortline_production"
    }

*/

/*  Redis example

    production: {
      "adapter": "redis",
      "host": "localhost", // optional
      "port": 6379, // optional
      "password": "password", // optional
      "key_prefix": "shortline_production"
    }
*/
  }
}